<router-outlet> </router-outlet>


<!-- <app-answer-button [answer]="respuesta" (buttonSelected)="respuestaSeleccionada($event)"></app-answer-button>
<div class="mi-clase">
  <input type="text" [(ngModel)]="miVariable">
  {{miVariable}}
</div>

<div *ngIf="miVariable=='Hellos'">
  {{title}}
</div>
<button (click)="addName(miVariable)">Agregar</button>
<ul>
  <li *ngFor="let name of names; index as i">
    {{name}}{{i}}
    <button (click)="deleteName(i)">eliminar</button>
      <p *ngIf="esVocal(name)">vocal</p>
      <p *ngIf="!esVocal(name)">no es vocal</p>
  </li>
</ul> -->